<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoArm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AutoArm.Properties.Settings>
            <setting name="UdpPort" serializeAs="String">
                <value>8113</value>
            </setting>
            <setting name="Delay" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ButtonWatchRegionX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ButtonWatchRegionY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ButtonWatchRegionWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ButtonWatchRegionHeight" serializeAs="String">
                <value>0</value>
            </setting>
        </AutoArm.Properties.Settings>
    </userSettings>
</configuration>